
<!-- FOOTER -->
<footer class = "footer-additional-padding">
<div class = "container footer-spacing">
<div class = "row">

  <!-- column 1 -->
  <div class = "col-md-4">
    <ul class =  "footer-section">
      <li class = "footer-section-header lead">Team</li>
    </ul>


    <div class = "row">
      <div class = "col-md-3">
        <img alt = "broken" class = "img-circle img-responsive" src="http://placehold.it/150x150" >
      </div>
      <div class = "col-md-8">
        <div class = "recent-post-text">Anam Majidi.</div>
Blog & Design Specialist.
      </div>
    </div>

    <div class = "row recent-post-spacing">
      <div class = "col-md-3">
        <img alt = "broken" class = "img-circle img-responsive" src="http://placehold.it/150x150" >
      </div>
      <div class = "col-md-8">
        <div class = "recent-post-text">Julia Lee.</div>
Recipe Connoisseur.
      </div>
    </div>

    <div class = "row recent-post-spacing">
      <div class = "col-md-3">
        <a href = "http://www.linkedin.com/pub/alex-yang/53/a32/1ba"><img alt = "broken" class = "img-circle img-responsive" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/7/005/04a/275/1fda767.jpg" ></a>
      </div>
      <div class = "col-md-8">
        <div class = "recent-post-text">Alex Yang</div>
            Software Engineer
      </div>
    </div>


  </div>

  <!-- column 2 -->
   <div class = "col-md-4">
    <ul class =  "footer-section">
      <li class = "footer-section-header lead">Testimonials</li>
    </ul>

    <div class = "row">
      <div class = "col-md-offset-1 col-md-10">
      <em>"Your nutrition tips were a HUGE part of reaching my goal. I LOVE the recipes and more importantly I feel the healthiest and fittest I have ever been." -Olivia Parker</em>
    </div>
    </div>

      <div class = "row recent-post-spacing">
      <div class = "col-md-offset-1 col-md-10">
      <em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, dignissimos, velit in nulla autem mollitia neque dolores sint facilis saepe quidem qui doloribus dolor quas illo eos explicabo sunt nostrum." -Olivia Parker</em>
    </div>
    </div>

  </div>

  <!-- column 3 -->
   <div class = "col-md-4">

    <ul class = "footer-section">
      <li class = "footer-section-header lead">About Us</li>
    </ul>
  
<div class = "row">
    <div class = "col-md-offset-1 col-md-11">
We at NutriLife are dedicated in bringing recipes and tips to keep your mouth and body happy. In today's society, a healthy diet can help you attain your goals. But we are here to tell you that you can still have fun doing it. We are bringing you revolutionary recipes that taste good and don't give you a guilt trip after. Just choose what category of food you want to eat and browse away!
    </div>
</div>

  </div>

</div>
</div>
</footer>

<section id = "copyright">
  <div class = "container-fluid">
    <div class = "row-fluid">
      <div class ="col-md-12 text-center">
            &copy; 2014 NutriLife / All rights reserved. 
      </div>
    </div>
  </div>
</section>