
<!-- FOOTER -->
<footer class = "footer-additional-padding">
<div class = "container footer-spacing">
<div class = "row">

  <!-- column 1 -->
  <div class = "col-md-4">
    <ul class =  "footer-section">
      <li class = "footer-section-header lead">Recent Posts</li>
    </ul>


    <div class = "row">
      <div class = "col-md-3">
        <img alt = "broken" class = "img-circle img-responsive" src="http://placehold.it/150x150" >
      </div>
      <div class = "col-md-8">
        <div class = "recent-post-text">Lorem ipsum.</div>
Lorem ipsum dolor sit amet, consectetur adipisicing.
      </div>
    </div>

    <div class = "row recent-post-spacing">
      <div class = "col-md-3">
        <img alt = "broken" class = "img-circle img-responsive" src="http://placehold.it/150x150" >
      </div>
      <div class = "col-md-8">
        <div class = "recent-post-text">Lorem ipsum.</div>
Lorem ipsum dolor sit amet, consectetur adipisicing.
      </div>
    </div>


  </div>

  <!-- column 2 -->
   <div class = "col-md-4">
    <ul class =  "footer-section">
      <li class = "footer-section-header lead">Testimonials</li>
    </ul>

    <div class = "row">
      <div class = "col-md-offset-1 col-md-10">
      <em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum inventore illum adipisci molestias nisi assumenda."</em>
    </div>
    </div>

        <div class = "row testimonial-spacing">
      <div class = "col-md-offset-1 col-md-3">
        <img alt = "broken" class = "img-circle img-responsive" src="http://placehold.it/150x150" >
      </div>
      <div class = "col-md-7">
        <div class = "recent-post-text">Alex Yang</div>
Software Engineer
      </div>
    </div>
  </div>

  <!-- column 3 -->
   <div class = "col-md-4">

    <ul class = "footer-section">
      <li class = "footer-section-header lead">About Us</li>
    </ul>
  
<div class = "row">
    <div class = "col-md-offset-1 col-md-11">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed esse ducimus incidunt consectetur reprehenderit? Eos, voluptates, nisi cumque ut repellat voluptatum illum consequuntur dolore totam doloremque quaerat sed voluptas dolorum facere sunt quia debitis! At.
    </div>
</div>

  </div>

</div>
</div>
</footer>

<section id = "copyright">
  <div class = "container-fluid">
    <div class = "row-fluid">
      <div class ="col-md-12 text-center">
            &copy; 2014 Healthy Eats / All rights reserved. 
      </div>
    </div>
  </div>
</section>