<nav class="navbar navbar-custom navbar-default navbar-fixed-top" role="navigation">
   <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        NutriLife</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <a href="/Meal" class="dropdown-toggle"  data-hover="dropdown">Meal</a>
          <ul class="dropdown-menu">
            <li><a href="/Breakfast">Breakfast</a></li>
            <li><a href="/Lunch">Lunch</a></li>
            <li><a href="/Dinner">Dinner</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="/Snack" class="dropdown-toggle" data-hover="dropdown">Snack</a>
          <ul class="dropdown-menu">
            <li><a href="/TVSnacks">TV Snacks</a></li>
            <li><a href="/StudySnacks">Study Snacks</a></li>
            <li><a href="/MidnightSnacks">Midnight Snacks</a></li>
          </ul>
        </li>

        <li class="dropdown">

          <a href="/Category" class="dropdown-toggle" data-hover="dropdown">Dessert</a>

          <ul class="dropdown-menu">
            <li><a href="#">Fruity Craving</a></li>
            <li><a href="#">Chocolate Craving</a></li>
            <li><a href="#">Coffee Craving</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <div class="dropdown-toggle" data-close-others="true" data-hover="dropdown">/</div>
        </li>
         <li class="dropdown">
          <a href="/Blog" class="dropdown-toggle" data-close-others="true" data-hover="dropdown">Blog</a>
        </li>
         <li class="dropdown">
          <a href="/Contact" class="dropdown-toggle" data-close-others="true" data-hover="dropdown">Contact</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
    </nav>
