<%= render "nav" %>


<div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Fighting Acne?
                    <small>Want Healthy Glowing Skin?</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/Home">home</a>
                    </li>
                    <li><a href="/Blog">blog</a>
                    </li>
                    <li class="active">Acne</li>
                </ol>
            </div>

        </div>
</div>    




    <!-- /full-width-image-1 -->

    <div class="container">
        <%= image_tag "testacne.jpg", :class => 'img-responsive'%>
        <div class="row">
            <div class="col-lg-12 section">
                <h1 class="section-heading">10 Acne Fighting Foods to Restore Healthy Skin</h1>
                                <!-- the actual blog post: title/author/date/content -->
                <p>Posted on March 9, 2014 at 9:00 PM by <strong>Anam Majidi</strong>
                </p>
                <p class="lead section-lead">One of the most covetable beauty traits, in my opinion, is being blessed with naturally clear, glowy skin. But we all know that even the luckiest of ladies might get a blemish or two once in a while, and bad nutrition might be to blame. Pesky pimples are never any fun so you might be surprised to learn that making some small swaps in your daily diet can be the key to clearer skin. I researched acne-fighting food properties that are proven to help beat blemishes or keep them at bay.</p>
                <p class="section-paragraph">
                    <ol class = "bloglist">
                        <li><strong>Foods with omega-3 fatty acids.</strong>
                        This includes salmon, flax seeds, and walnuts. Foods with omega-3 fatty acids have been known to give skin an almost instant glow. These foods can also help reduce inflammation, so any blemishes you do have won’t be quite so red. I love making grilled salmon for dinner. Adding flaxseed to a fresh fruit smoothie is another simple way to boost your omega-3s</li>
                        <li><strong>Antioxidant filled foods.</strong>  It’s no surprise that antioxidant foods are great for your health, but they also give your skin an extra dose of goodness too. Antioxidant rich foods like cherries, berries, green tea and spinach attack free radicals in your body that cause skin damage and breakouts. Eating a handful of berries or a spinach salad is a yummy way to add antioxidants into your daily food routine.</li>
                        <li><strong>Foods rich in selenium.</strong> Brazil nuts, almonds, onion, garlic, and whole grains are all sources of selenium, which is also a powerful antioxidant. These foods help preserve your skin’s elasticity and reduce inflammation. Just eating a handful of almonds a day is an easy way to up your selenium intake.</li>
                        <li><strong>Foods rich in vitamin C.</strong> Melons, oranges, tomatoes, and strawberries all boost your immune system and strengthen your cell walls. These foods will help protect your skin from acne scarring and activate healing powers to amend damaged or irritated skin.</li>
                        <li><strong>Foods rich in vitamin E.</strong> This category includes nuts, soybeans, almonds, leafy greens and eggs. Vitamin E rich foods also help protect your skin from scarring. An easy way to get your daily dose is by drizzling olive oil on a salad or using it to cook. (I always use it on my pan when cooking my veggie omelet in the morning.)</li>
                        <li><strong>Foods in high water content. </strong>This means…drink water, water and more water! Keeping your body hydrated is one of the best things you can do for yourself. And this healthy habit translates to your skin too. In addition to drinking your 8 glasses a day (a daily requirement in my book!), eating foods with a high water content like watermelon and cucumbers, and also parsley will free your system of toxins as well.</li>
                        <li><strong>Foods rich in vitamin A.</strong> Foods that give your body vitamin A are rich in beta-carotene, which enhances the benefits of selenium–that powerful antioxidant I mentioned earlier. Your skin will thank you if you include carrots, bell peppers, cantaloupes, and sweet potatoes into your daily diet.</li>
                        <li><strong>Low sodium foods.</strong> Foods that are packed with salt not only make your body bloat up like a balloon, they also wreak havoc on your skin. To avoid pimples from flaring up, try to limit the amount of processed or prepared foods in your diet. Substituting canned or frozen vegetables with fresh ones can make a huge difference. You will also feel so much better if you eat “clean foods” that are unprocessed and have low sodium.</li>
                        <li><strong>Foods high in magnesium. </strong>These foods are awesome acne fighters because magnesium helps to balance out acne-inducing hormones. Try munching on artichokes, oatmeal, brown rice, and figs to get hormonal acne under control.</li>
                        <li><strong>White foods are the wrong foods.</strong> Foods like white bread, white rice, white refined flour, French fries, and mashed potatoes are some of the worst things to have in your diet if you want clear skin. Refined sugar is another culprit in this category because it makes your blood sugar levels spike, which then causes acne outbreaks. No thank you! Stick to whole grains and brightly colored fruits and veggies like these no-bloat foods. If anything else, just remember this: White foods are not the right foods if you want clear skin.</li>
                    </ol>

                </p>
            </div>
        </div>
    </div>




    <div class="container">
                      <hr/>
        <div class="row">
            <div class="col-lg-8">

                <!-- the comment box -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- the comments 
                <div class = "row">
                  <div class="col-md-2"><img class = "img-circle img-responsive" alt="broken" src ="http://placehold.it/300x300"/></div>
                  <div class="col-md-10">
                <h4>Alex Yang
                    <small>9:41 PM on August 24, 2013</small>
                </h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, officia non recusandae repellendus quaerat odit eligendi modi sapiente totam molestiae?</p>
                </div>
              </div>
              <br/>
                <div class = "row">
                  <div class="col-md-2"><img class = "img-circle img-responsive" alt="broken" src ="http://placehold.it/300x300"/></div>
                  <div class="col-md-10">
                <h4>Anam Majidi
                    <small>9:41 PM on August 24, 2013</small>
                </h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, officia non recusandae repellendus quaerat odit eligendi modi sapiente totam molestiae?</p>
                </div>
              </div>-->
            </div>
        </div>
    </div>

<%= render "footer" %>