<%= render "nav" %>


   <div class="container">
            <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Recipe 
                    <small>Coconut Brown Rice Pudding</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/Home">Home</a>
                    </li>
                     <li><a href="/Category">Dessert</a>
                    </li>
                    <li class="active">Coconut Brown Rice Pudding</li>
                </ol>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Ingredients</p>
                 <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge">3 cups</span>
                    coconut water
                  </li>
                  <li class="list-group-item">
                    <span class="badge">13.5 ounce</span>
                    can of lite coconut milk
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1/2 cup</span>
                    sugar
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1 tblsp</span>
                    vanilla extract
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1/2 tsp</span>
                    kosher salt
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1 1/4 cup</span>
                    short grain brown rice
                  </li>
                    <li class="list-group-item">
                    <span class="badge">2 tblsp</span>
                    unsalted butter
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1 tspn</span>
                    finely grated lime zest
                  </li>
                </ul>
                <p class="lead">Additional Images</p>

                <%= image_tag "cocopudding.jpeg", :class => 'img-responsive image-spacing'%>

            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                     <%= image_tag "rice-pudding.jpg", :class => 'img-responsive'%>

                    <div class="caption-full">
                        <h3 class = "header-spacing">Coconut Brown Rice Pudding</h3>
                    </div>

                        <p class = "p-spacing">Rice's natural starch (helped along with a bit of coconut milk) turns into creamy, surprisingly light rice pudding with sweet floral flavor from coconut water. Set out a toppings bar of dried fruits, toasted nuts, shredded coconut and seeds and let everyone personalize their own bowl.</p>

              </div>
              <div class = "thumbnail">
                    <div class="caption-full">
                        <h3>Preparation Instructions
                        </h3>
                        <em>Total Time: 7 Hours</em>
                    </div>

              <ol class = "preparation-instructions">
                  <li>
                    Mist a 5-to-6-quart slow cooker with nonstick cooking spray. Mix the coconut water, coconut milk, 1 1/2 cups water, sugar, vanilla and salt in the bowl of the slow cooker until the sugar is dissolved. Stir in the rice and cook on high 4 hours or low for 5 to 6 hours.
                  </li>
                  <li>Uncover, stir well and let stand 15 minutes. Transfer to a large bowl and stir in the butter. Continue to cool, stirring, until warm. Stir in the lime zest. Serve warm or chill until cold. Top as desired</li>
                  <li>Cook's Note: To cool your rice pudding faster, spread the pudding on a rimmed baking sheet and place in the refrigerator until cool, about 10 minutes.</li>
                </ol>

                </div>

        <div class="row">
            <div class="col-lg-8">

                <!-- the comment box -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- the comments 
                <div class = "row">
                  <div class="col-md-2"><img class = "img-circle img-responsive" alt="broken" src ="http://placehold.it/300x300"/></div>
                  <div class="col-md-10">
                <h4>Alex Yang
                    <small>9:41 PM on August 24, 2013</small>
                </h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, officia non recusandae repellendus quaerat odit eligendi modi sapiente totam molestiae?</p>
                </div>
              </div>
              <br/>
                <div class = "row">
                  <div class="col-md-2"><img class = "img-circle img-responsive" alt="broken" src ="http://placehold.it/300x300"/></div>
                  <div class="col-md-10">
                <h4>Anam Majidi
                    <small>9:41 PM on August 24, 2013</small>
                </h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, officia non recusandae repellendus quaerat odit eligendi modi sapiente totam molestiae?</p>
                </div>
              </div>-->
            </div>
        </div>

            </div>

        </div>

    </div>
    <!-- /.container -->







<%= render "footer" %>