<%= render "nav" %>


<div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Healthy Foods For Hair
                    <small>Get that Shine!</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/Home">home</a>
                    </li>
                    <li><a href="/Blog">blog</a>
                    </li>
                    <li class="active">hair</li>
                </ol>
            </div>

        </div>
</div>    




    <!-- /full-width-image-1 -->

    <div class="container">
        <%= image_tag "healthyhair3.jpg", :class => 'img-responsive'%>
        <div class="row">
            <div class="col-lg-12 section">
                <h1 class="section-heading">Top 10 Foods for Healthy Hair</h1>
                                <!-- the actual blog post: title/author/date/content -->
                <p>Posted on March 8, 2014 at 9:00 PM by <strong>Anam Majidi</strong>
                </p>
                <p class="lead section-lead">When it comes to healthy hair, it’s not just what you put on your tresses that counts -- it’s what you put in your body, too. The nutrients you eat today help fortify the hair follicle -- from which each strand is born -- and the scalp that surrounds it.</p>
                <p class="section-paragraph">
                    <ol class = "bloglist">
                        <li><strong>Poultry.</strong>
                        This everyday entree is extraordinary when it comes to protein, as well as hair-healthy zinc, iron, and B vitamins to keep strands strong and plentiful. Because hair is nearly all protein, "foods rich in protein are literally giving you the building blocks for hair," Drayer says.</li>
                        <li><strong>Salmon.</strong>  Besides being rich in protein and vitamin D (both are key to strong hair) the omega-3 fatty acids found in this tasty cold-water fish are the true superstar. Your body can't make those fatty acids, which your body needs to grow hair. About 3% of the hair shaft is make up of these fatty acids, Drayer says. Omega-3s are also found in cell membranes in the skin of your scalp, and in the natural oils that keep your scalp and hair hydrated</li>
                        <li><strong>Walnuts.</strong> These are the only type of nut that have a significant amount of omega-3 fatty acids. They're also rich in biotin and vitamin E, which helps protect your cells from DNA damage. Since your hair rarely gets much shielding from the sun, this is especially great, Drayer says. Too little biotin can lead to hair loss. Walnuts also have copper, a mineral that helps keep your natural hair color rich and lustrous.</li>
                        <li><strong>Oysters.</strong> Oysters are rich in zinc, a lack of which can lead to hair loss (even in your eyelashes), as well as a dry, flaky scalp. Three ounces has a whopping 493% of your daily value. You can get some zinc through fortified cereals and whole grain breads, but oysters can boast a good level of protein too. "Remember, hair is about 97% protein," Drayer says. Without enough protein, your body can't replace the hairs that you naturally shed every day and what you do make can be dry, brittle, or weak.</li>
                        <li><strong>Sweet Potatoes.</strong> Sweet potatoes are a great source of the antioxidant beta carotene, which your body turns into vitamin A. "Basically, every cell of the body cannot function without enough A," Fishman says. It also helps protect and produce the oils that sustain your scalp, and being low on vitamin A can even leave you with itchy, irksome dandruff.</li>
                        <li><strong>Eggs. </strong>A great source of protein, eggs are loaded with four key minerals: zinc, selenium, sulfur, and iron. Iron is especially important, because it helps cells carry oxygen to the hair follicles, and too little iron (anemia) is a major cause of hair loss, particularly in women.</li>
                        <li><strong>Spinach.</strong> The iron, beta carotene, folate, and vitamin C in spinach help keep hair follicles healthy and scalp oils circulating.</li>
                        <li><strong>Lentils.</strong> Tiny but mighty, these legumes are teeming with protein, iron, zinc, and biotin making it a great staple for vegetarian, vegans, and meat eaters.</li>
                        <li><strong>Greek Yogurt. </strong>Cruise the dairy aisle for low-fat options such as Greek yogurt, which is high in hair-friendly protein, vitamin B5 (pantothenic acid -- an ingredient you'll often see on hair care product labels), and vitamin D. Emerging research links vitamin D and hair follicle health, but exactly how that works isn't clear.</li>
                        <li><strong>Blueberries.</strong> Exotic super fruits may come and go but when it comes to vitamin C, "It's hard to top this nutrient superhero". C is critical for circulation to the scalp and supports the tiny blood vessels that feed the follicles. Too little C in your diet can lead to hair breakage.</li>
                    </ol>

                </p>
            </div>
        </div>
    </div>




    <div class="container">
                      <hr/>
        <div class="row">
            <div class="col-lg-8">

                <!-- the comment box -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- the comments 
                <div class = "row">
                  <div class="col-md-2"><img class = "img-circle img-responsive" alt="broken" src ="http://placehold.it/300x300"/></div>
                  <div class="col-md-10">
                <h4>Alex Yang
                    <small>9:41 PM on August 24, 2013</small>
                </h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, officia non recusandae repellendus quaerat odit eligendi modi sapiente totam molestiae?</p>
                </div>
              </div>
              <br/>
                <div class = "row">
                  <div class="col-md-2"><img class = "img-circle img-responsive" alt="broken" src ="http://placehold.it/300x300"/></div>
                  <div class="col-md-10">
                <h4>Anam Majidi
                    <small>9:41 PM on August 24, 2013</small>
                </h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, officia non recusandae repellendus quaerat odit eligendi modi sapiente totam molestiae?</p>
                </div>
              </div>-->

            </div>
        </div>
    </div>

<%= render "footer" %>