<%= render "nav" %>


<div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Tips To Lose Weight.
                    <small>And Keep It Off</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/Home">home</a>
                    </li>
                    <li><a href="/Blog">blog</a>
                    </li>
                    <li class="active">tips to lose weight</li>
                </ol>
            </div>

        </div>
</div>    




    <!-- /full-width-image-1 -->

    <div class="container">
        <%= image_tag "weightloss3.jpg", :class => 'img-responsive'%>
        <div class="row">
            <div class="col-lg-12 section">
                <h1 class="section-heading">Tips To Lose Weight.</h1>
                                <!-- the actual blog post: title/author/date/content -->
                <p> Posted on March 10, 2014 at 9:00 PM by <strong>Anam Majidi</strong>
                </p>
                <p class="lead section-lead">10 Easy Tips | Losing pounds doesn't have to be torture (we're looking at you, cayenne-pepper cleanse). Adopt at least three of these behaviors — they're simple to integrate into your day-to-day routine, and all are enthusiastically backed by nutritionists — and you'll be thinner and healthier in days. (Plus, the weight will stay off.)</p>
                <p class="section-paragraph">
                    <ol class = "bloglist">
                        <li><strong>Drink Plenty of Water!</strong>
                        Reduce your daily calorie intake by replacing soda, alcohol, or coffee with water. Thirst can also be confused with hunger, so by drinking water, you may avoid consuming extra calories.</li>
                        <li><strong>Snack, But Smartly.</strong> Grazing between meals used to be on the weight-loss hit list. But nutritionists now know that it's better to satisfy a craving with healthy grub than ignore it and risk a junk-food binge later. The best picks are filling, protein-packed snacks, such as one stick of string cheese, a tablespoon of peanut butter on a piece of fruit, or a medium-size bowl of edamame.</li>
                        <li><strong>Turn Off the TV!</strong> Dining while viewing can make you take in 40 percent more calories than usual, reports a new study. And texting, driving, or any other distracting activity during a meal can also result in your eating too much. Instead, make each meal something you put on a plate and sit down to, even if you're eating solo.</li>
                        <li><strong>Sculpt Three Times a Week.</strong> Doing 5 minutes each of push-ups, lunges, and squats (in 30-second intervals) will help build and maintain muscle mass. The more muscle you have, the higher your metabolism will be, so you'll torch more calories as you go about your day.</li>
                        <li><strong>Reach for your Cell.</strong> Next time your mind gets stuck on a certain food, call a friend and redirect your brain by asking how her day's going. Research shows that cravings only last about 5 minutes, so by the time you hang up, the urge to devour junk will have subsided.</li>
                        <li><strong>Eat a Big, Balanced Breakfast. </strong>An a.m. meal made up mostly of carbs and protein with some fat keeps blood-sugar levels steady and hunger pangs away so you're not susceptible to pigging out come lunch, studies show. Opt for something satisfying for your stomach and taste buds — like egg whites and turkey bacon with whole-wheat toast.</li>
                        <li><strong>Watch the Booze.</strong> One innocent-looking margarita or cosmopolitan can rack up hundreds of calories that do nothing to quench your appetite. Treat yourself just on the weekends and cut back somewhere else or stick to a glass of wine, light beer, or vodka and soda — three drinks that each have about 100 calories per serving.</li>
                        <li><strong>Have Fruit Twice a Day. </strong>Fruit has no fat and is mostly water, so it'll fill you up while leaving less room on your plate (and in your stomach) for high-cal fare. Don't freak about fruit's carb count — we're talking the good kind of carbohydrates that contain lots of healthy fiber.</li>
                        <li><strong>Stay Asleep Longer. </strong>Getting to bed just 30 minutes earlier and waking up 30 minutes later than you normally do can help you make better food choices, researchers report. Also, when you're well-rested, you're less prone to snacking out of fatigue or stress.</li>
                        <li><strong>Don't Deprive Yourself.</strong> If you don't let yourself eat anything unhealthy, you are more likely to cheat--big time! It's okay to indulge once in a while so you don't deprive your body and go into binge mode when you do get a treat.</li>
                    </ol>

                </p>
            </div>
        </div>
    </div>




    <div class="container">
                      <hr/>
        <div class="row">
            <div class="col-lg-8">

                <!-- the comment box -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- the comments 
                <div class = "row">
                  <div class="col-md-2"><img class = "img-circle img-responsive" alt="broken" src ="http://placehold.it/300x300"/></div>
                  <div class="col-md-10">
                <h4>Alex Yang
                    <small>9:41 PM on August 24, 2013</small>
                </h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, officia non recusandae repellendus quaerat odit eligendi modi sapiente totam molestiae?</p>
                </div>
              </div>
              <br/>
                <div class = "row">
                  <div class="col-md-2"><img class = "img-circle img-responsive" alt="broken" src ="http://placehold.it/300x300"/></div>
                  <div class="col-md-10">
                <h4>Anam Majidi
                    <small>9:41 PM on August 24, 2013</small>
                </h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, officia non recusandae repellendus quaerat odit eligendi modi sapiente totam molestiae?</p>
                </div>
              </div>-->
            </div>
        </div>
    </div>

<%= render "footer" %>