<%= render "nav" %>


   <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Snacks
                    <small>Midnight Snacks</small>
                </h1>
                                <ol class="breadcrumb">
                    <li><a href="/Home">Home</a>
                    </li>
                    <li class="active">Midnight Snacks</li>
                </ol>
            </div>

        </div>


        <div class="row">

            <div class="col-md-4 recipe-item">
                <a href="/AvocadoToast">
                    <%= image_tag "avotoastout.jpg", :class => 'img-responsive'%>
                        <span class="label label-success pull-right">Vegetarian</span>
                </a>
                <h3><a href="/AvocadoToast">Avocado Toast</a></h3>
                <p>Avocado is a nutritional powerhouse providing numerous potential health benefits. </p>
            </div>

            <div class="col-md-4 recipe-item">
                <a href="/AlmondToast">
                    <%= image_tag "almondtoastout.jpg", :class => 'img-responsive'%>
                        <span class="label label-danger pull-right">Hot!</span>
                </a>
                <h3><a href="/AlmondToast">Cinnamon Almond Butter Toast</a>
                </h3>

                <p>Almond butter is an excellent alternate source of protein, and it's filled with monounsaturated fat. The hottest butter right now. Go nuts!</p>
            </div>

        </div>

        <hr>

        <div class="row text-center">

            <div class="col-lg-12">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li class="active"><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>

<%= render "footer" %>