<%= render "nav" %>


   <div class="container">
            <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Recipe 
                    <small>Lorem ipsum.</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/home">Home</a>
                    </li>
                     <li><a href="/category">Category</a>
                    </li>
                    <li class="active">Recipe</li>
                </ol>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Ingredients</p>
                 <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge">3/4</span>
                    Cras justo odio
                  </li>
                  <li class="list-group-item">
                    <span class="badge">2</span>
                    Dapibus ac facilisis in
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1</span>
                    Morbi leo risus
                  </li>
                  <li class="list-group-item">
                    <span class="badge">3/4</span>
                    Cras justo odio
                  </li>
                  <li class="list-group-item">
                    <span class="badge">2</span>
                    Dapibus ac facilisis in
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1</span>
                    Morbi leo risus
                  </li>
                                    <li class="list-group-item">
                    <span class="badge">3/4</span>
                    Cras justo odio
                  </li>
                  <li class="list-group-item">
                    <span class="badge">2</span>
                    Dapibus ac facilisis in
                  </li>
                  <li class="list-group-item">
                    <span class="badge">1</span>
                    Morbi leo risus
                  </li>
                </ul>
                <p class="lead">Additional Images</p>
                <a class = "image-link" href = "http://placehold.it/750x450"><img alt="broken" class="img-responsive image-spacing" src="http://placehold.it/750x450"></a>
                <a class = "image-link" href = "http://placehold.it/750x450"><img alt="broken" class="img-responsive image-spacing" src="http://placehold.it/750x450"></a>
                <a class = "image-link" href = "http://placehold.it/750x450"><img alt="broken" class="img-responsive image-spacing" src="http://placehold.it/750x450"></a>
            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/800x300" alt="">

                    <div class="caption-full">
                        <h3 class = "header-spacing">Product Name</h3>
                    </div>

                        <p class = "p-spacing">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

              </div>
              <div class = "thumbnail">
                    <div class="caption-full">
                        <h3>Preparation Instructions
                        </h3>
                        <em>Total Time: 30 minutes</em>
                    </div>

              <ol class = "preparation-instructions">
                  <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, mollitia, ad, sequi aliquid obcaecati delectus nam provident placeat error vel fuga vitae laudantium nihil modi ipsam consectetur laboriosam magnam quos!
                  </li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, cupiditate, voluptates, nobis doloremque officiis sequi magni quibusdam enim ullam quae fugiat molestiae natus dolor voluptate excepturi corrupti nihil odio dolores?</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, totam, repudiandae quidem modi esse iusto saepe pariatur hic quisquam neque veritatis architecto incidunt doloremque exercitationem repellat odit labore voluptates in?30</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, voluptatibus.</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet optio eum distinctio!</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, molestias, et, placeat itaque doloremque aliquam voluptas accusamus eum nostrum quam mollitia omnis molestiae? Ut, nulla.</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, sed quidem facilis eveniet saepe labore adipisci soluta magni blanditiis in?</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                </ol>

                </div>

        <div class="row">
            <div class="col-lg-8">

                <!-- the comment box -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- the comments -->
                <div class = "row">
                  <div class="col-md-2"><img class = "img-circle img-responsive" alt="broken" src ="http://placehold.it/300x300"/></div>
                  <div class="col-md-10">
                <h4>Alex Yang
                    <small>9:41 PM on August 24, 2013</small>
                </h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, officia non recusandae repellendus quaerat odit eligendi modi sapiente totam molestiae?</p>
                </div>
              </div>
              <br/>
                <div class = "row">
                  <div class="col-md-2"><img class = "img-circle img-responsive" alt="broken" src ="http://placehold.it/300x300"/></div>
                  <div class="col-md-10">
                <h4>Anam Majidi
                    <small>9:41 PM on August 24, 2013</small>
                </h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, officia non recusandae repellendus quaerat odit eligendi modi sapiente totam molestiae?</p>
                </div>
              </div>
            </div>
        </div>

            </div>

        </div>

    </div>
    <!-- /.container -->







<%= render "footer" %>