@media(min-width:767px) {
    .navbar-home {
        padding: 17px 0;
        opacity: 0.85;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        /* Customize the look and feel of the collapsed top nav here */
        padding: 0px 0;
    }
}

.navbar-custom .nav li a{

}


.navbar {
    text-transform: uppercase;
}



.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;   
}

